@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@1,700&display=swap');

h3 {
  text-align: center;
}

body {
  background-color: #111518;
}
p {
  font-family: 'Bitter', serif;
  font-size: 16px;
}

input {
  background: transparent !important;
  color: white !important;
}

#navbar {
  border-radius: 0;
  height: auto;
}

#navbar-pt2 {
  margin: 0 15%;
}

#language {
  margin-top: 15px;
}

#fakenews {
  font-size: 5rem;
  color: rgba(252, 251, 250, 1);
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'KoHo';
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#question {
  font-size: 6rem;
  color: #cec269;
  width: 50px;
}

#category-container {
  margin: 50px 10%;
}

#articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15%;
}
#category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 10% 20px;
}

#new-backyard-input {
  background-color: #6e6e6e !important;
}

#textarea-backyard {
  background-color: #6e6e6e;
  color: white;
}

.italic {
  font-style: italic;
}

.breaking-news {
  margin: 50px 15%;
  display: flex;
  height: 40rem;
  background-color: #202325;
  border-radius: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
}

.breaking-img {
  object-fit: cover;
  width: 60%;
}

.breaking-content {
  color: rgba(218, 217, 216, 0.9);
  padding: 40px;
}

.breaking-title {
  font-size: 35px;
  color: #cec269;
}

.breaking-date {
  color: rgba(200, 200, 200, 1);
}

.small-breaking-news:hover {
  transform: scale(1.01);
}

.breaking-news:hover {
  transform: scale(1.01);
}

.small-breaking-title {
  font-size: 25px;
  color: #cec269;
}

.small-breaking-content {
  width: 100%;
  padding: 40px;
  background: transparent;
  z-index: 2;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.small-breaking-news {
  margin: 50px 15%;
  display: flex;
  height: 40rem;
  background-color: #202325;
  border-radius: 2px;
  transition: 0.3s;
  position: relative;
}

.small-breaking-img {
  object-fit: cover;
  width: 100%;
}

.box-shadow {
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.25),
    8px 30px 30px rgba(0, 0, 0, 0.4), inset -2px -2px 5px rgba(0, 0, 0, 0.3);
}

.ui.secondary.inverted.menu .link.item,
.ui.secondary.inverted.menu a.item {
  background-image: linear-gradient(120deg, #d6c756 0%, #d6c756 80%);
  background-repeat: no-repeat;
  background-size: 100% 0.1em;
  background-position: 0 88%;
  transition: background-size 0.35s ease-in;
}

.ui.secondary.inverted.menu .link.item,
.ui.secondary.inverted.menu a.item:hover {
  background-image: linear-gradient(120deg, #d6c756 0%, #d6c756 80%);
  background-size: 100% 100%;
  color: #202325 !important;
  transition: background-size 0.35s ease-in;
}

.ui.secondary.inverted.menu .active.item {
  background-image: linear-gradient(120deg, #d6c756 0%, #d6c756 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 100%;
  color: #202325 !important;
  transition: background-size 0.35s ease-in;
}

.card-container {
  background-color: #202325;
  max-width: 400px;
  border-radius: 3px;
  transition: 0.3s;
  margin-bottom: 50px;
}

.small-card-container {
  background-color: #202325;
  border-radius: 3px;
  transition: 0.3s;
  margin-bottom: 50px;
}

.card-content-wrapper {
  height: 100%;
}

.card-container:hover {
  transform: scale(1.03);
}

.small-card-container:hover {
  transform: scale(1.03);
}

.card-image {
  display: flex;
  object-fit: cover;
  height: 200px;
  width: 400px;
}

.small-card-image {
  display: flex;
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.card-content {
  color: rgba(218, 217, 216, 0.9);
  padding: 20px;
  text-decoration: none;
  text-overflow: clip;
  height: 100%;
}

.card-header {
  color: whitesmoke;
  font-size: 20px;
}

.card-date {
  color: rgba(148, 148, 148, 0.863);
  position: flex;
  bottom: 0;
}

.article-container {
  background-color: #202325;
  align-content: center;
  padding: 25px;
  max-width: 800px;
  color: rgba(218, 217, 216, 0.863);
  font-size: 1.5rem;
  margin: 50px auto;
}

.article-info {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.article-title {
  font-size: 40px;
  color: #cec269;
  text-align: center;
}

.article-category {
  font-size: 1.1rem;
}

.article-author {
  font-size: 1rem;
  color: rgba(218, 217, 216, 0.863);
}

.article-date {
  color: rgba(141, 141, 141, 0.863);
}

.article-body {
  white-space: pre-wrap;
  font-size: 19px;
}
.category-bar {
  width: fit-content;
  margin: auto;
}

.category-header {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.icon {
  color: rgba(218, 217, 216, 0.863) !important;
}

.choose-sub {
  color: white;
  text-align: center;
}

.subscription-plan {
  display: flex;
  flex-direction: column;
  height: 200px;
  color: white;
  margin: 0 25px;
  width: 250px;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

.subscription-special {
  display: flex;
  flex-direction: column;
  height: 250px;
  color: white;
  margin: 0 25px;
  width: 250px;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}
.subscription-plan:hover {
  transform: scale(1.05);
}
.subscription-special:hover {
  transform: scale(1.05);
}

.subscription-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: tomato;
  font-weight: bold;
  font-size: 17px;
}

.subscription-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.subscription-button {
  background-color: tomato;
}

.backyard-form {
  background-color: #3f3f3f !important;
  color: white !important;
  text-align: center;
  padding: 25px;
  border-radius: 5px 5px 0 0;
}
.backyard-form-second {
  background-color: #3f3f3f !important;
  color: white !important;
  text-align: center;
  padding: 25px;
  border-radius: 0 0 5px 5px;
}

.ui.form textarea {
  background-color: transparent;
  color: white;
}

.ui.form .field > label {
  color: lightgrey !important;
}

.backyard-container {
  color: white;
  margin: 30px auto;
  max-width: 600px;
  background-color: #202325;
  padding: 25px;
  border-radius: 3;
}

.backyard-container h2 {
  font-size: 20px;
}
.hover {
  transition: 0.3s;
}

.hover:hover {
  transform: scale(1.03);
}

.background-hover {
  transition: 0.3s;
}

.background-hover:hover {
  transform: translateY(-10px);
}

.comment-section {
  padding: 70px;
  color: #cec269;
}
.comment-header {
  margin-top: 70px;
  margin-left: 70px;
  color: #cec269;
}

.comment {
  padding: 20px;
  border-top: 1px solid rgb(71, 70, 70);
  color: rgb(253, 253, 253);
}

.user-comment {
  display: inline-block;
  color: #cec269;
  text-align: left;
}

.date-comment {
  font-size: 12px;
  margin-left: 15px;
  display: inline-block;
}

.comment-outer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.comment-inner-container {
  width: 80%;
  padding: 15px 10px;
}

.sign-up-message {
  text-align: center;
  margin-bottom: 15px;
  color: #cec269;
}

.comment-textarea {
  height: 30px;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(71, 70, 70);
  color: rgba(218, 217, 216, 0.863);
  background-color: transparent;
  margin-bottom: 10px;
  resize: none;
  outline: none;
}

.submit-btn {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: rgba(218, 217, 216, 0.863);
  background-color: rgb(24, 73, 11);
}

.clear-btn {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: rgba(218, 217, 216, 0.863);
  background-color: transparent;
}

.comment-button-container {
  position: absolute;
}

.error-image {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
}

/* smaller that desktop style  */
@media (max-width: 920px) {
  .subscription-plan {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    color: white;
    margin: 50px;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
  }

  .subscription-special {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 100%;
    color: white;
    margin: 0 25px;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
  }

  .ui.cards {
    padding: 2rem 0;
    display: flex;
  }

  .choose-sub {
    color: white;
    text-align: center;
    margin: 3rem 0;
    padding-bottom: 10rem;
  }

  .subscription-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
  }
  .category-bar {
    display: flex;
    flex-wrap: wrap;
  }

  .ui.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media (max-width: 766px) {
  #tr-head {
    display: none !important;
  }

  #navbar {
    display: flex;
    justify-content: center;
    margin: 0 -20px;
  }

  #navbar-pt2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #navbar-pt3 {
    display: flex;
    /* flex-direction: column-reverse; */
    text-align: right;
  }
}
