@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@1,700&display=swap');

h3 {
  text-align: center;
}

body {
  background-color: #111518;
}
p {
  font-family: 'Bitter', serif;
}

input {
  background: transparent !important;
  color: white !important;
}

#navbar {
  border-radius: 0;
  height: auto;
}

#fakenews {
  font-size: 4rem;
  color: rgba(252, 251, 250, 1);
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'KoHo';
}

#question {
  font-size: 6rem;
  color: #cec269;
  width: 50px;
}

#category-container {
  margin: 50px 300px 50px;
}

#articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 100px 20px;
}

#footer {
  bottom: 0;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(19, 18, 17);
  width: 100%;
  text-align: center;
}

.footer-content {
  color: white;
}

.italic {
  font-style: italic;
}

.breaking-news {
  margin: 50px 200px;
  display: flex;
  height: 30rem;
  background-color: #202325;
  border-radius: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
}

.breaking-img {
  object-fit: cover;
  width: 60%;
}

.breaking-content {
  color: rgba(218, 217, 216, 0.863);
  padding: 40px;
}

.breaking-title {
  font-size: 35px;
  color: #cec269;
}

.breaking-date {
  color: rgba(148, 148, 148, 0.863);
}

.breaking-news:hover {
  transform: scale(1.01);
}

.box-shadow {
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.25),
    8px 30px 30px rgba(0, 0, 0, 0.4), inset -2px -2px 5px rgba(0, 0, 0, 0.3);
}

.ui.secondary.inverted.menu .link.item,
.ui.secondary.inverted.menu a.item {
  background-image: linear-gradient(120deg, #d6c756 0%, #d6c756 80%);
  background-repeat: no-repeat;
  background-size: 100% 0.1em;
  background-position: 0 88%;
  transition: background-size 0.35s ease-in;
}

.ui.secondary.inverted.menu .link.item,
.ui.secondary.inverted.menu a.item:hover {
  background-image: linear-gradient(120deg, #d6c756 0%, #d6c756 80%);
  background-size: 100% 100%;
  color: #202325 !important;
  transition: background-size 0.35s ease-in;
}

.ui.secondary.inverted.menu .active.item {
  background-image: linear-gradient(120deg, #d6c756 0%, #d6c756 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 100%;
  color: #202325 !important;
  transition: background-size 0.35s ease-in;
}

.card-container {
  background-color: #202325;
  max-width: 400px;
  overflow-wrap: normal;
  display: inline-flex;
  align-self: auto;
  align-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
  margin: 20px;
  transition: 0.3s;
}

.card-content-wrapper {
  height: 100%;
}

.card-container:hover {
  transform: scale(1.03);
}

.card-image {
  display: flex;
  object-fit: cover;
  height: 200px;
  width: 400px;
}

.card-content {
  color: rgba(218, 217, 216, 0.863);
  padding: 20px;
  text-decoration: none;
  text-overflow: clip;
  height: 100%;
}

.card-header {
  color: #cec269;
  font-size: 20px;
}

.card-date {
  color: rgba(148, 148, 148, 0.863);
  position: flex;
  bottom: 0;
}

.article-container {
  background-color: #202325;
  align-content: center;
  padding: 25px;
  margin: 5% 15%;
  color: rgba(218, 217, 216, 0.863);
  font-size: 1.5rem;
}

.article-title {
  font-size: 50px;
  color: #cec269;
}

.article-category {
  font-size: 1.1rem;
}

.article-author {
  font-size: 1rem;
  color: rgba(218, 217, 216, 0.863);
}

.article-date {
  color: rgba(141, 141, 141, 0.863);
}

.category-header {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.icon {
  color: rgba(218, 217, 216, 0.863) !important;
}
