h3{
  text-align: center;
}

body {
  background-color: #111518;
}

#navbar {
  background-color: #FCE42D;
  border-radius: 0;
}

#fakenews{
  color: rgba(218, 217, 216, 0.863);
}

#question {
  color:#FCE42D;
  font-size: 50px;
}

#category-container {
  margin: 50px 300px 50px;
}

#articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 100px 20px;
}

#footer {
  position: flex;
  bottom: 0;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(19, 18, 17);
  width: 100vw;
  text-align: center;
}

.footer-content {
  color: white;
}

.italic {
  font-style: italic;
}

.breaking-news{
  margin: 20px 80px;
  display: flex;
  height: 30rem;
  background-color: #202325;
  border-radius: 20px;
}

.breaking-img{
  object-fit: cover;
}

.breaking-content{
  color: aliceblue;
  padding: 40px;
}

.card-container{
  margin: 100px;
}

.article-container{
  background-color: #202325;
  align-content: center;
  margin: 100px;
  padding: 100px 300px 100px 300px;
  color: rgba(218, 217, 216, 0.863);
  font-size: 1.5rem;
}

.article-title{
  color: #FCE42D;
}

.article-category{
  font-size: 1.7rem;
}

.article-author{
  text-align: right;
  font-size: 1rem;
  color:rgba(218, 217, 216, 0.863)
}

.article-date{
  
  color:rgba(141, 141, 141, 0.863)
}

